<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='homepage.css')}}">
  </head>
    <div class="topnav">
        <a href="{{url_for('page')}}">Home</a>
        <a href="{{url_for('contacts')}}">Calendar</a>
        <a class="active" href="{{url_for('deposit')}}">Create Event</a>
        <a href="{{url_for('status')}}">Status</a>
        <a href="{{url_for('profile')}}">Profile</a>
      </div>
      <body>
        <header>
            <h1 id="head">Create an Event</h1>
            <div>
                <form action="#">
                <label for="title">Enter Title</label><br>
                <input type="text" id="title" name="title"><br><br>
                <label for="location">Enter Location</label><br>
                <input type="text" id="location" name="location"><br><br>
                <label for="duration"">Enter Duration of The Event</label><br>
                <input type="text" id="duration" name="duration"><br><br>
                <label for="particips">Minimum Number of Participants</label><br>
                <input type="text" id="particips" name="particips"><br><br>
                <label for="desc">Desciption</label><br>
                <input type="type" id="desc" name="desc"><br><br>
                <label for="pics">Insert Pictures</label><br>
                <input type="text" id="pics" name="pics"><br>
                <p>Contact Information:</p>
                <label for="number">Enter Mobile Number</label><br>
                <input type="text" id="number" name="number"><br><br>
                <label for="email">Enter E-mail Address</label><br>
                <input type="text" id="email" name="email"><br><br>
                <button type="submit">Submit</button>
            </form>
            </div>
        </header>
    </body>
      
</html>
