<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='homepage.css')}}">
  </head>
    <div class="topnav">
        <a class="active" href="{{url_for('page')}}">Home</a>
        <a href="{{url_for('contacts')}}">Contacts</a>
        <a href="{{url_for('deposit')}}">Deposit</a>
        <a href="{{url_for('status')}}">Status</a>
        <a href="{{url_for('profile')}}">Profile</a>
      </div>
      <body>
      
    </body>
      
</html>

