<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap" rel="stylesheet">
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='statusdecor.css')}}">
  </head>
    <div class="topnav">
        <a href="{{url_for('home')}}"><img src="assets/tree.png" alt="SocioVerse" style="width: 18px; height: 18px;"></a>
        <a href="{{url_for('contacts')}}">Contacts</a>
        <a href="{{url_for('eventpage')}}">Create Event</a>
        <a class="active" href="{{url_for('status')}}">Status</a>
        <a href="{{url_for('profile')}}">Profile</a>
      </div>
    <body>
        <div id="Info">
            <p>
                <strong>Event Name:-</strong>
                <span>{{title}}</span>
            </p>
            <p>
                <strong>Location:-</strong>
                <span>{{location}}</span>
            </p>
            <p>
                <strong>Duration</strong>
                <span></span>
            </p>
                <p>
                <strong>Start Date:-</strong>
                <span>{{start}}</span>
                </p>
                <p>
                    <strong>End Date:-</strong>
                    <span>{{end}}</span>
                </p>
                <p>
                    <strong>Participants:-</strong>
                    <span>{{participants}}</span>
                </p>
            <p>
                <strong>Desciption:-</strong>
                <span>{{desc}}</span>
            </p>
            <p>
                <strong>Contact Information</strong>
                <span></span>
            </p>
            <p>
                <strong>Mobile Number:-</strong>
                <span>{{mob}}</span>
            </p>
            <p>
                <strong>E-mail:-</strong>
                <span>{{mail}}</span>
            </p>
        </div>
    </body>
</html>

<!--location={{location}}
        duration={{duration}}
        participants={{participants}}
        description={{desc}}
        pics={{pics}}
        mobile={{mob}}
        email={{mail}}-->